footer{
    position: relative;
    bottom: 0;
    width: 100%;
}

.piedepagina{
    background-color:  rgb(234, 240, 247);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    list-style: none;
    height: 100px;
}

.text_footer{
    color: rgb(0, 0, 0);
    margin: 3%;
}