.input{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 15px;
}

.formulario{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    padding: 3%;
    position: relative;
    display: inline-block
}
